@import 'header.css';
@import 'footer.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #212121;
  --white-color: #fafafa;
  --violet-color: #8844ee;
  --gray-color: #474747;
  --dark-blue-color: #0b141a;
  --red-color: #ff0000;
}

body {
  font-family: sans-serif;
  background-color: var(--black-color);
}

.messages {
  min-height: calc(100vh - 156px);
}

.output {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 1rem;
  max-height: calc(100vh - 156px);
  overflow-y: auto;
}

.my-message {
  background-color: var(--violet-color);
  color: #fafafa;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: inline-flex;
  align-self: end;
}

.other-message {
  background-color: var(--gray-color);
  color: var(--white-color);
  text-align: left;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: inline-flex;
  align-self: start;
}

.server {
  background-color: var(--red-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: inline-flex;
  align-self: center;
}
