* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header-bg {
  background-color: #fafafa;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
}

.messages {
  background-color: #faf6ed;
  max-height: calc(100vh - 158px);
  overflow-y: auto;
}

.output {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: calc(100vh - 158px);
}

p {
  background-color: #25d366;
  margin-bottom: 0.5rem;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 10px;
}

.message {
  width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid;
}

.footer {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 2rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.btn-send {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: #25d366;
  cursor: pointer;
}
