* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #212121;
}

.header {
  padding: 1rem;
  background-color: tomato;
}

.messages {
  min-height: calc(100vh - 154px);
}

.output {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 1rem;
  max-height: calc(100vh - 154px);
  overflow-y: auto;
  margin: 0 0.5rem;
}

p {
  background-color: #147d2e;
  color: #fafafa;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.message {
  padding: 0.5rem 1rem;
  border: 1px solid;
}

.footer {
  padding: 1rem;
}

.control {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.control input {
  background-color: #fafafa;
  font-size: 1.5rem;
  outline: none;
  border-radius: 20px;
  padding:1rem;
  width: 100%;
}

.btn-send {
  background-color: #25d366;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
